{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'ground0/style.css' %}" />
    <title>{% block title %}Spaurk - Discover or be Discovered {% endblock %}</title>
</head>

<body>
<div class="container">
    <div class="banner">
        {% block banner %}
        <div class="login">
            <form action="login/" method="post">
                {% csrf_token %}
                <input type="text" name="username" value="username">
                <input type="password" name="password" value="password">
                <br>
                <input type="submit" value="Login" />
            </form>
        </div>                    
        {% endblock %}
    </div>
    <div class="ads">{%block ads %}<p>this is the ad</p><br> <br>{% endblock %}</div>
    <div class="main">{% block main %}<p>this is the main</p><br><br>{% endblock %}</div>
    <div class="topList">{% block topList %}<p>this is the topLis</p><br> <br>{% endblock %}</div>
</div>
</body>

</html>
